# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
.pytest_cache
.mypy_cache
.ruff_cache

# IDEs
.idea/
.vscode/

# Environment
.env
.env.example

# Other
*.swp
*.swo
*.swn
*.log
npm_debug.log*
yarn-debug.log*
yarn-error.log*
/node_modules
/dist
/build
